<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
jQuery library
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
Latest compiled JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>País:</h2>
    <select class="form-control" [(ngModel)]="paisSelecionado.id" (change)="onSelect($event.target.value)" id="Sel1">
      <option value="0">--Selecione--</option>
      <option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.nome}}</option>
    </select>
  </div>
  <div class="col-md-6">
    <h2>Cidade:</h2>
    <select class="form-control">
      <option *ngIf='paisSelecionado.id == 0' value="0">--Selecione--</option>
      <option *ngFor="let cidade of cidades" value="{{cidade.id}}">{{cidade.nome}}</option>
    </select>
  </div>
</div>